{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint/eslint-plugin",
    "unicorn",
    "array-plural"
  ],
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "semi": "off",
    "quotes": "off",
    "camelcase": "off",
    "brace-style": "off",
    "space-before-function-paren": "off",

    "yoda": "warn",
    "eqeqeq": "warn",
    "new-parens": "warn",
    "semi-spacing": "warn",
    "no-use-before-define": "warn",
    "no-buffer-constructor": "warn",
    "unicorn/error-message": "warn",
    "unicorn/prefer-includes": "warn",
    "unicorn/no-unsafe-regex": "warn",
    "unicorn/new-for-builtins": "warn",
    "unicorn/prefer-string-slice": "warn",
    "unicorn/prefer-trim-start-end": "warn",
    "unicorn/custom-error-definition": "warn",
    "unicorn/no-unreadable-array-destructuring": "warn",

    "no-restricted-syntax": ["warn", { "selector": "ExportDefaultDeclaration", "message": "Prefer named exports" }],
    "newline-per-chained-call": ["warn", { "ignoreChainWithDepth": 2 }],
    "array-plural/array-plural": ["warn", { "allows": ["array", "arr"] }],
    "max-len": ["warn", 120],
    "indent": ["warn", 4],

    "curly": "error",
    "use-isnan": "error",
    "no-iterator": "error",
    "no-debugger": "error",
    "no-ex-assign": "error",
    "no-dupe-keys": "error",
    "no-dupe-args": "error",
    "no-undefined": "error",
    "no-cond-assign": "error",
    "no-unreachable": "error",
    "no-dupe-else-if": "error",
    "no-empty-pattern": "error",
    "no-unsafe-finally": "error",
    "no-invalid-regexp": "error",
    "no-unsafe-negation": "error",
    "no-compare-neg-zero": "error",
    "no-dupe-class-members": "error",
    "valid-typeof": ["error", { "requireStringLiterals": true }],
    "max-nested-callbacks": ["error", 4],
    "wrap-iife": ["error", "inside"],
    "unicorn/filename-case": ["error", {"case": "kebabCase"}],

    "@typescript-eslint/unbound-method": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/member-delimiter-style": ["warn", {
      "multiline": {
        "delimiter": "comma",
        "requireLast": false
      },
      "singleline": {
        "delimiter": "comma",
        "requireLast": false
      }
    }],

    "@typescript-eslint/semi": "warn",
    "@typescript-eslint/camelcase": "warn",
    "@typescript-eslint/brace-style": "warn",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/await-thenable": "warn",
    "@typescript-eslint/func-call-spacing": "warn",
    "@typescript-eslint/no-require-imports": "warn",
    "@typescript-eslint/no-misused-promises": "warn",
    "@typescript-eslint/explicit-function-return-type": "warn",
    "@typescript-eslint/type-annotation-spacing": ["warn", { "after":  true, "before":  false }],
    "@typescript-eslint/space-before-function-paren": ["warn", "always"],
    "@typescript-eslint/quotes": ["warn", "single"],

    "@typescript-eslint/no-misused-new": "error",
    "@typescript-eslint/no-extraneous-class": "error",
    "@typescript-eslint/no-useless-constructor": "error",
    "@typescript-eslint/restrict-plus-operands": "error",
    "@typescript-eslint/no-untyped-public-signature": "error",
    "@typescript-eslint/class-name-casing": ["error", { "allowUnderscorePrefix": true }]
  }
}
