{
  "plugins": [
    "unicorn",
    "array-plural"
  ],
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "semi": "off",
    "quotes": "off",
    "camelcase": "off",
    "brace-style": "off",
    "space-before-function-paren": "off",

    "yoda": "warn",
    "eqeqeq": "warn",
    "new-parens": "warn",
    "semi-spacing": "warn",
    "no-use-before-define": "warn",
    "no-buffer-constructor": "warn",
    "unicorn/error-message": "warn",
    "unicorn/prefer-includes": "warn",
    "unicorn/no-unsafe-regex": "warn",
    "unicorn/prefer-string-slice": "warn",
    "unicorn/prefer-trim-start-end": "warn",
    "unicorn/custom-error-definition": "warn",
    "unicorn/no-unreadable-array-destructuring": "warn",

    "no-restricted-syntax": ["warn", { "selector": "ExportDefaultDeclaration", "message": "Prefer named exports" }],
    "newline-per-chained-call": ["warn", { "ignoreChainWithDepth": 2 }],
    "array-plural/array-plural": ["warn", { "allows": ["array", "arr"] }],
    "max-len": ["warn", 120],
    "indent": ["warn", 4],

    "curly": "error",
    "use-isnan": "error",
    "no-iterator": "error",
    "no-debugger": "error",
    "no-ex-assign": "error",
    "no-dupe-keys": "error",
    "no-dupe-args": "error",
    "no-undefined": "error",
    "no-cond-assign": "error",
    "no-unreachable": "error",
    "no-dupe-else-if": "error",
    "no-empty-pattern": "error",
    "no-unsafe-finally": "error",
    "no-invalid-regexp": "error",
    "no-unsafe-negation": "error",
    "no-compare-neg-zero": "error",
    "no-dupe-class-members": "error",
    "valid-typeof": ["error", { "requireStringLiterals": true }],
    "max-nested-callbacks": ["error", 4],
    "wrap-iife": ["error", "inside"],
    "unicorn/filename-case": ["error", {"case": "kebabCase"}],
  }
}
